.page-wrapp.crm-page-wrap
  div(ui-view="header")
  div(ui-view="navigation")
  .crm-content
    .crm-content__inn.scroll-block(kz-scroll-top-when="needScrollToTop")
      .crm-content__inn-in
        .modal-background(
          ng-class="{'modal-background__show': $analystInit.navigationShowMode}"
          ng-click="$analystInit.backgroundClick()"
        )
        div(ui-view="main")
