.crm-cnt__search-block
  .crm__search__title.__center.__no-icon
    h2  Просмотр удаленных согласий

  .crm-table-wrap(
  ng-if="vm.data.length"
  )
    .table-scroll-wrap.ps-container.ps-theme-default.table-scroll
      .table-scroll-wrap__inn
        table.__center-table
          thead
            tr
              th.checkbox-th
                .table-checkbox-wrap
                  label
                    input.hidden-input(
                      ng-click="vm.selectAll()"
                      type='checkbox'
                      ng-model='vm.selectedAll'
                    )
                    span.table-checkbox__icon
                      svg.icon.icon-check(width='12px', height='8px')
                        use(xlink:href='#check')
              th
                a Дата отправки
              th
                a Компания
              th
                a Срок
              th
                a Сумма
              th
                a Валюта
              th
                a Ставка
              th
                a Статус
              th
                a условия
          tbody
            tr.tr-w-check(
            ng-repeat="item in vm.data"
            ng-click="vm.selectRow(item)"
            ng-class="{'__checked':item.$selected}"
            )
              td
                .table-checkbox-wrap(
                ng-click="vm.selectRow(item)"
                )
                  label
                    input.hidden-input(
                    ng-model="item.$selected"
                    type='checkbox'
                    )
                    span.table-checkbox__icon
                      svg.icon.icon-check(width='12px', height='8px')
                        use(xlink:href='#check')
              td
                span {{item.createdAt | date: 'dd.MM.yyyy'}}
              td
                span
                  b(ng-if="item.borrower.company") {{item.borrower.company}}
                  b(ng-if="!item.borrower.company") -
              td
                span {{item.offer.period}} мес.
              td
                span {{item.offer.amount}}
              td
                span {{item.offer.currency}}
              td
                span {{item.offer.interestRate}}
              td
                //span {{item.offer.offerStatus}}
                span(
                ng-if="item.solution === null"
                ) Сделано предложение
                span(
                ng-if="item.solution === true"
                ) Согласие
                span(
                ng-if="item.solution === false"
                ) Отказ
              td
                a(
                ng-click="vm.showFiles(item)"
                )
                  svg.icon.icon-file(width='18px', height='21px')
                    use(xlink:href='#file')

    .table-btn-wrap.__center
      button.btn.btn-purple(
      ng-click="vm.moveBackDisputes()"
      ) Восстановить

      button.btn.btn-red(
      ng-click="vm.deleteDisputes()"
      ) Удалить

  .activation-status-block(
    ng-if="vm.loaded && !vm.data.length"
  )
    div.text-center(
    )
      h4.text-center В настоящий момент удаленных согласий нет.
