<div class="album-detail grid"
     *ngIf="album && isOpen"
     [hidden]="hidden">
  <div class="btn-back btn-back__white" (click)="onClose()">
    <i class="icon-close"></i>
  </div>
  <div class="album-detail__to-event" *ngIf="album.event">
    <a class="album-detail__link-event" [routerLink]="['/event', album.event.handle]">go to event <i class="icon-arrow_back"></i></a>
  </div>
  <div class="row" (click)="onClose()">
    <div class="col col--xs-12">
      <div class="album-detail__header">
        <div class="row">
          <div class="col col--xs-6">
            <h1 class="title-page album-detail__title">{{album.title}}</h1>
          </div>
          <div class="col col--xs-6 text--xs-right" *ngIf="album.event">
            <div class="album-detail__date">{{album.event.dateOfStart | date: 'dd MMM yyyy'}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col col--xs-6">
          </div>
          <div class="col col--xs-6 text--xs-right">
            <div class="album-detail__favorite grid">
              <div class="row row--xs-center">
                <div class="col--xs-2">
                  <d-favorite-star [isFavorite]="album.isFavorited" (onToggle)="onToggleFavorite($event)"></d-favorite-star>
                </div>
                <div class="col--xs-10">
                  <div class="album-detail__favorite-text">{{album.isFavorited ? 'Remove from' : 'Add to'}} Favourites</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row album-detail__container">
    <div class="col col--xs-12">
      <div class="album-detail__photos"
           *ngIf="album.photos && album.photos.rows && album.photos.rows.length"
           d-infinite-scroll
           triggerElement=".album-detail__trigger"
           type="vertical"
           (onEnterScroll)="onEnterScroll($event)">
        <div class="row">
          <div class="album-detail__item col col--xs-6 images-grid-item"
               *ngFor="let photo of album.photos.rows; let odd = odd; let even = even; let index = index;">
            <div class="album-detail__background album-mask"
                 [class.album-mask--2]="(index + 1) % 4 === 2"
                 [class.album-mask--1]="(index + 1) % 4 === 1"
                 [class.album-mask--3]="(index + 1) % 4 === 3"
                 [class.album-mask--4]="(index + 1) % 4 === 0"
                 (click)="openPhoto(index)"
                 [style.background-image]="'url(' + (photo.url | resizePhoto: 320) + ')'">
              <div class="album-detail__like"
                   [class.album-detail__like--1]="even"
                   [class.album-detail__like--2]="odd">
                <div [class]="'album-detail__like-button album-detail__like-button--' + (even ? '1' : '2')"
                     (click)="$event.stopPropagation(); onToggleLike(photo.isLiked, photo.handle)">
                  <i [class]="'icon-like_' + (photo.isLiked ? 'active' : 'unactive')"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="album-detail__trigger"></div>
      </div>
    </div>
  </div>
</div>
