@import "../../../../assets/styles/variables"

\:host
  .album-detail
    position: fixed
    top: 0
    left: 0
    right: 0
    //bottom: 0
    width: 100%
    max-width: $max-width
    margin: 0 auto
    background-color: $background-modal
    z-index: 1500
    overflow: auto
    &__header
      margin-top: 6rem
    &__photos
      width: 100%
      max-height: 81vh
      overflow-x: hidden
      padding-bottom: 6rem
    &__item
      height: 14rem
      position: relative
      margin-bottom: 5px
    &__background
      height: 100%
      background-size: cover
    &__container
      overflow-x: hidden
    &__date
      color: $white
      font-size: 1.2rem
      font-weight: 300
      letter-spacing: .05rem
    &__to-event
      position: absolute
      top: 1rem
      right: 1rem
      height: 1.8rem
      vertical-align: middle
      cursor: pointer
    &__link-event
      color: $white
      font-size: 1.2rem
      font-weight: 400
      letter-spacing: .05rem
      text-decoration: none
      text-transform: uppercase
      i.icon-arrow_back
        transform: rotate(180deg)
        display: inline-block
        padding-right: .5rem
    &__favorite-text
      color: $white
      font-size: 1.2rem
      font-weight: 300
    &__title
      font-weight: 400
      letter-spacing: .05rem
    &__like
      position: absolute
      width: 8rem
      height: 6rem
      &--1
        top: .4rem
        left: .5rem
        border-style: solid
        border-width: 6rem 8rem 0 0
        border-color: $background-like transparent transparent transparent
      &--2
        right: .5rem
        bottom: -.5rem
        border-style: solid
        border-width: 0 0 6rem 8rem
        border-color: transparent transparent $background-like transparent
    &__like-button
      position: absolute
      cursor: pointer
      &--1
        top: -5rem
        left: 1rem
      &--2
        right: 1rem
        bottom: -5rem
