.crm-cnt__search-block
  .crm__search__title.__center.__no-icon
    h2  Просмотр заявок на инвестирование

  .crm-table-wrap
    .table-scroll-wrap(
    ng-if="vm.data.length"
    )
      .table-scroll-wrap__inn
        table.__center-table
          thead
            tr
              th.checkbox-th
                .table-checkbox-wrap
                  label
                    input.hidden-input(
                    ng-click="vm.selectAll()"
                    type='checkbox'
                    ng-model='vm.selectedAll'
                    )
                    span.table-checkbox__icon
                      svg.icon.icon-check(width='12px', height='8px')
                        use(xlink:href='#check')
              th
                a Дата отправки
              th
                a Срок
              th
                a Сумма
              th
                a Валюта
              th
                a Ставка
              th
                a Обеспечение
              th
                a Статус
              th
                a условия

          tbody
            tr.tr-w-check(
            ng-repeat="item in vm.data"
            ng-click="vm.selectRow(item)"
            ng-class="{'__checked':item.$selected}"
            )
              td
                .table-checkbox-wrap(
                ng-click="vm.selectRow(item)"
                )
                  label
                    input.hidden-input(
                    ng-model="item.$selected"
                    type='checkbox'
                    )
                    span.table-checkbox__icon
                      svg.icon.icon-check(width='12px', height='8px')
                        use(xlink:href='#check')
              td
                span {{item.createdAt | date: 'dd.MM.yyyy'}}
              td
                span {{item.period}} мес.
              td
                span {{item.amount}}
              td
                span {{item.currency}}
              td
                span {{item.interestRate}} %
              td
                span {{item.provision}}
              td
                span {{item.entryStatus}}
              td
                a(
                ng-click="vm.showFiles(item)"
                )
                  svg.icon.icon-file(width='18px', height='21px')
                    use(xlink:href='#file')


    .table-btn-wrap.__center(
    ng-if="vm.data.length"
    )
      button.btn.btn-purple(
      ng-click="vm.tryOffer()"
      ) Предложить

  .activation-status-block(
    ng-if="vm.loaded && !vm.data.length"
  )
    div.text-center(
    )
      h4.text-center В настоящий момент заявок нет.




