<div *ngIf="organisation">
  <div class="slider-upper">
    <div class="slider-upper__title-wrapper">
      <h1 class="slider-upper__title title-page">{{(organisation$ | async)?.title}}</h1>
    </div>
    <div class="slider-upper__logo"
         *ngIf="organisation.logo"
         [style.background-image]="'url(' + (organisation.logo.url | resizePhoto: 320) + ')'"></div>
    <d-slider [photos]="(organisation$ | async)?.previews" [triggerPosition]="'right'"></d-slider>
    <div class="slider-upper__entity-menu">
      <d-entity-menu [optionsMore]="{website: organisation.website, facebook: organisation.facebook, phone: organisation.phone, email: organisation.email, title: 'contact organisation'}"
                     [optionsShare]="{title: organisation.title, facebook: true, twitter: true, whatsapp: true}"
                     [isFavorite]="organisation.isFavorited"
                     (onFavoriteToggle)="onToggleFavorite($event)"></d-entity-menu>
    </div>
  </div>
  <div class="organisation-detail-info">
    <div class="grid">
      <div class="organisation-detail-info__block-text">
        <div class="organisation-detail-info__title">description</div>
        <div class="organisation-detail-info__description">{{organisation.description}}</div>
      </div>
      <div class="organisation-detail-info__block-meta organisation-detail-meta">
        <div class="row row--xs-center" *ngIf="organisation.address && organisation.address.length">
          <div class="col col--xs-1">
            <div class="organisation-detail-meta__icon">
              <i class="icon-location-pin"></i>
            </div>
          </div>
          <div class="col col--xs-11">
            <div class="organisation-detail-meta__value">{{organisation.address}}</div>
          </div>
        </div>
        <div class="row row--xs-center" *ngIf="organisation.tags && organisation.tags.length">
          <div class="col col--xs-1">
            <div class="organisation-detail-meta__icon">
              <i class="icon-tag"></i>
            </div>
          </div>
          <div class="col col--xs-11">
            <div class="organisation-detail-meta__value organisation-detail-meta__tags">
              <div class="tags" d-dynamic-width="tags__item" [dynamicWidthMargin]="10">
                <span class="tags__item"
                      [ngClass]="{'tags__item--last': last}"
                      *ngFor="let tag of organisation.tags; let last = last">{{tag.title}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
