@import "../../../../assets/styles/variables"

\:host
  .slider-upper
    position: relative
    &__title-wrapper
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 100
      display: flex
      justify-content: center
      align-items: flex-start
      padding-top: 1rem
      background-color: rgba(34, 34, 34, .73)
      pointer-events: none
    &__entity-menu
      position: absolute
      bottom: -2rem
      z-index: 200
    &__logo
      background-position: center
      background-size: cover
      border-radius: 50%
      width: 8rem
      height: 8rem
      position: absolute
      bottom: -4rem
      left: calc(50% - 4rem)
      z-index: 101
  .organisation-detail-info
    margin: 0 1rem 2.5rem
    border: $border
    padding: 5rem 0 1.5rem
    &__block-text
      border-bottom: 1px solid $gray-light
      margin-bottom: 1.5rem
      padding-bottom: 1.5rem
      width: 100%
    &__title
      font-size: 1.1rem
      font-weight: 700
      text-transform: uppercase
      margin-bottom: 1rem
    &__description
      font-size: 1.1rem
      font-weight: 300
      line-height: 1.6
  .organisation-detail-meta
    &__icon
      vertical-align: middle
    &__value
      font-size: 1.1rem
      font-weight: 300
      vertical-align: middle
    &__tags
      width: 100%
      overflow-x: scroll

\:host-context(.d-light-theme)
  .organisation-detail-info
    background-color: $white
    &__title
      color: $black-transparency
    &__description
      color: $black-main
  .organisation-detail-meta
    &__value
      color: $black-main


\:host-context(.d-dark-theme)
  .organisation-detail-info
    background-color: $black-title
    border-color: $black-title
    &__title
      color: $dark-organization-description-title
    &__description
      color: $dark-organization-description

  .organisation-detail-meta
    color: $dark-organization-description