<d-tabs>
  <d-tabs-item tabTitle="past events">
    <div class="event-list"
         *ngIf="(pastEvents$ | async).rows && (pastEvents$ | async).rows.length">
      <div class="event-list__item grid"
           *ngFor="let event of (pastEvents$ | async).rows">
        <d-event-card [event]="event"
                      [optionsShare]="{title: event.title, url: ('/event/' + event.handle), facebook: true, twitter: true, whatsapp: true, messanger: true, sms: true}"></d-event-card>

      </div>
    </div>
    <div class="event-list__cup"
         *ngIf="!(pastEvents$ | async).rows || !(pastEvents$ | async).rows.length">
      <d-gag [text]="['This organisation haven`t past events.']"></d-gag>
    </div>
  </d-tabs-item>
  <d-tabs-item tabTitle="next events">
    <div class="event-list"
         *ngIf="(nextEvents$ | async).rows && (nextEvents$ | async).rows.length">
      <div class="event-list__item grid"
           *ngFor="let event of (nextEvents$ | async).rows">
        <d-event-card [event]="event"
                      [optionsShare]="{title: event.title, url: ('/event/' + event.handle), facebook: true, twitter: true, whatsapp: true, messanger: true, sms: true}"></d-event-card>

      </div>
    </div>
    <div class="event-list__cup"
         *ngIf="!(nextEvents$ | async).rows || !(nextEvents$ | async).rows.length">
      <d-gag [text]="['This organisation haven`t next events.']"></d-gag>
    </div>
  </d-tabs-item>
</d-tabs>
