.crm-content__nav
  ul.reset-list.clearfix
    li(ng-class="{'active': currentState.name === 'analyst-entries.entries'}")
      a(ui-sref='analyst-entries.entries') Заявки

    li(ng-class="{'active': currentState.name === 'analyst-entries.offers'}")
      a(ui-sref='analyst-entries.offers')  Предложения

    li(ng-class="{'active': currentState.name === 'analyst-entries.consents'}")
      a(ui-sref='analyst-entries.consents')  Согласия

    li(ng-class="{'active': currentState.name === 'analyst-entries.trash-bin'}")
      a(ui-sref='analyst-entries.trash-bin')  Корзина

ui-view
